<div>
    <mat-form-field>
        <input type="search" matInput placeholder="Game" [(ngModel)]="search" (keydown.enter)="searchGames()">
        <button matSuffix mat-button (click)="searchGames()"><mat-icon>search</mat-icon></button>
        <mat-checkbox [(ngModel)]="matchesOnly">Matches Only</mat-checkbox>
    </mat-form-field>
</div>

<div *ngIf="games.length > 0">
    <table>
        <thead><tr><th>Title</th>
        <th>Game Pass</th>
        <th>EA Play</th>
        <th>uPlay</th></tr></thead>

        <div *ngFor="let game of games">
            <div *ngIf="!matchesOnly || game.onGamePass || game.onEAPlay || game.onUPlus">
                <td><img src={{game.coverUrl}} height=100px></td>
                <tr><td>{{game.name}}</td>
                <tr><td>{{game.releaseDate}}</td>
                <tr><td>{{game.fromEpoch}}</td>
                <td>
                    <mat-icon *ngIf="game.onGamePass">check</mat-icon>
                    <mat-icon *ngIf="!game.onGamePass">close</mat-icon>
                </td>
                <td>
                    <mat-icon *ngIf="game.onEAPlay">check</mat-icon>
                    <mat-icon *ngIf="!game.onEAPlay">close</mat-icon>
                </td>
                <td>
                    <mat-icon *ngIf="game.onUPlus">check</mat-icon>
                    <mat-icon *ngIf="!game.onUPlus">close</mat-icon>
                </td>
            </div>
        </div>
    </table>
</div>